body {
    margin: 0 auto;
    background-image: linear-gradient(rgb(224, 236, 219), rgb(13, 104, 27), rgb(202, 63, 63));
    box-sizing: border-box;
    min-height: 125vh;
    max-width: 1200px;
    font-family: Papyrus, Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
    
}


main {
    font-size: 1.2em;
    margin: 5% auto;
    line-height: 2.5rem;
    text-align: justify;
}

h1{
    text-align: center;
}

a {
    text-decoration: none;
}

.navbarr {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    border: 1px rgb(132, 3, 3) ridge;
    background-color:  rgb(132, 3, 3);
    
    
}

#navbar {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    
}

.linkk {
    text-decoration: none;
    color: whitesmoke;
}

#yy {
   margin-left: 20%;
 
}


figcaption {
    text-align: center;
    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

#button {
    height: 4vh;
    width: 12vw;
    text-align: center;
    background-color: yellow;
    border: none;
    margin-top: -5px;
}

#button1 {
    height: 4vh;
    width: 12vw;
    text-align: center;
    background-color: red;
    border: none;
    margin-top: -5px;
}

#button1:active,
#button1:hover {
    background-color: rgb(248, 64, 64);
    cursor: pointer;
}

#button:active,
#button:hover {
    background-color: rgb(252, 252, 126);
    cursor: pointer;
}


.fl {
    float: left;
    margin-right: 3rem;
}


.fr {
    float: right;
    margin-left: 3rem;
}

img {
    height: 65vh;
    width: 44vw;
}

#env {
    height: 35vh;
    width: 35vw;
}

.quote {
    width: 50%;
    height: 20%;
    background-color: transparent;
    border: 1px ridge black;
    padding: 1rem;
    margin:auto;
    text-align: center;
}

.quotee {
    padding: 1.5rem;
}